<div class="testimonial">
    <img src="assets/images/testimonial1.jpg" alt="Testimonial 1">
    <p>"This course was amazing! I learned so much about DevOps."</p>
    <p>- Subscriber 1</p>
</div>
<div class="testimonial">
    <img src="assets/images/testimonial2.jpg" alt="Testimonial 2">
    <p>"The AWS Zero to Hero course helped me land my dream job."</p>
    <p>- Subscriber 2</p>
</div>
<div class="testimonial">
    <img src="assets/images/testimonial3.jpg" alt="Testimonial 3">
    <p>"Azure Zero to Hero is a must for anyone looking to get into cloud computing."</p>
    <p>- Subscriber 3</p>
</div>
